.technology {
    font-family: 'Poppins';
    background-color: #edeafa;

}

.technology .container-fluid {
    padding: 1% 9%;
    text-align: center;
}

.technology .text {
    text-align: center;
    padding: 5% 0%;
    color: #000;
}

.technology .icons {
    font-size: 3.2rem;
}

@media screen and (max-width:920px) {
 
}
