.technology {
    font-family: 'Poppins';
    background-color: #fff;

}

.technology .container-fluid {
    padding: 1% 9%;
    text-align: center;
}

.technology .text {
    text-align: center;
    padding: 3% 0%;
    color: rgb(97, 96, 96);
}

.technology .icons {
    font-size: 3.2rem;
}

@media screen and (max-width:920px) {
 
}
