.work {
    font-family: 'Poppins';
    background-color: #f1f5f9;

}

.work .container-fluid {
    padding: 10% 15%;
    text-align: center;
}
.work .lock {
    border: 1px solid lightgray;
    border-radius: 20px;
    padding: 50px;
}

.work .card {
    width: 100%;
    height: 10vh;
    padding: 15px;
}

.work .btn {
    background-color: #00BFA6;
    border: #00BFA6;
    border-radius: 25px;
    width: 65%;
    margin-top: 25px;
    color: #fff;
}

.work .btn:hover {
    background-color: rgb(175, 228, 175);
    border: rgb(175, 228, 175);
}
@media screen and (max-width:920px) {
    .work .card {
        width: 100%;
        height: 10vh;
        padding: 30px;
    }
    .work .text-cards {
        padding: 25px;
    }

    .work .container-fluid {
        padding: 15% 15%;
    }
    .work .btn {
        width: 100%; 
        }
}
